{% extends "base.html" %}

{% block title %}
	All Books
{% endblock %}

{% block content %}

	<ul>
		{% for book in book_list %}
		<li>
			{{ book.title }}
			<small>{{ book.year }} {{ book.isbn }}</small>
			<p>{{ book.author }}</p>
			<p>
				<a href="{% url 'book-detail' book.pk %}" title="Book details">Book details</a>			
			</p>
		</li>
		{% endfor %}
	</ul>

	<div class="pagination">
	    <span class="step-links">
	        {% if book_list.has_previous %}
	            <a href="?page=1">&laquo; first</a>
	            <a href="?page={{ book_list.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ book_list.number }} of {{ book_list.paginator.num_pages }}.
	        </span>

	        {% if book_list.has_next %}
	            <a href="?page={{ book_list.next_page_number }}">next</a>
	            <a href="?page={{ book_list.paginator.num_pages }}">last &raquo;</a>
	        {% endif %}
	    </span>
	</div>

{% endblock content %}